.intro__triangle {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 57px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../images/intro-triangle.svg);
}
